.c-zaap-input--container {
  position: relative;
  display: block;
  margin: 0 0 15px;
  transition: color 150ms;
}

.c-zaap-input--label {
  display: block;
  padding: 0 0 10px;
  font: var(--font-label);
  color: var(--color-white);
  transition: color 150ms;
}

.c-zaap-input--input {
  width: 100%;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  padding: 0 14px;
  background-color: var(--color-black-60);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--color-white);
  font: var(--font-label);
  border-radius: 3px;
  transition: border 150ms;
}

.c-zaap-input--input[type="password"] {
  letter-spacing: 2px;
}

.c-zaap-input--container:not(.c-zaap-input--container__disabled)
  .c-zaap-input--input:hover:not(:focus) {
  border-color: var(--color-white);
}

.c-zaap-input--input:focus {
  border-color: var(--color-lighten-primary);
}

.c-zaap-input--container__errored:not(.c-zaap-input--container__disabled)
  .c-zaap-input--input,
.c-zaap-input--container__errored:not(.c-zaap-input--container__disabled)
  .c-zaap-input--input:hover,
.c-zaap-input--container__errored:not(.c-zaap-input--container__disabled)
  .c-zaap-input--input:focus {
  border-color: var(--color-punch);
}

.c-zaap-input--error {
  display: block;
  color: var(--color-punch);
  font-weight: var(--font-weight-raleway-semibold);
  padding-top: 3px;
}

.c-zaap-input--container__disabled {
  opacity: 0.5;
}

.c-zaap-input--container__path .c-zaap-input--icon-folder {
  position: absolute;
  top: 32px;
  left: 10px;
  width: 27px;
  height: 27px;
}

.c-zaap-input--container__path .c-zaap-input--icon-folder svg * {
  fill: var(--color-primary);
}

.c-zaap-input--container__path .c-zaap-input--input {
  padding-left: 43px;
  padding-right: 41px;
}

.c-zaap-input--container__path .c-zaap-input--dots {
  position: absolute;
  top: 35px;
  right: 10px;
  width: 22px;
  height: 22px;
  background: var(--color-white-20);
  border-radius: 3px;
  transition: background 150ms;
}

.c-zaap-input--container__path .c-zaap-input--dots svg * {
  fill: var(--color-white);
}

.c-zaap-input--container__path .c-zaap-input--dots:hover {
  background: var(--color-primary);
}
